<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Login</title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static',filename='logo.jpeg')}}"" alt="" width=" 150"
        height="150">
      <h2>Login to Ascent</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="signin" method="POST">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" required>
          </div>

          <div class="form-group">
            <label for="idpassword">Password</label>
            <input type="password" class="form-control" id="idpassword" name="idpassword" required>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
        <div class="row align-items-center justify-content-center mt-2">
          <span  style="font-size: larger;">For new user:&nbsp</span><a href="/getsignup" style="font-size: larger;">Sign Up</a>
        </div>
      </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 Ascent</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

  <script>
    {% if response2 == 'error' %}
    Swal.fire({
      icon: 'error',
      title: 'Oops..',
      text: "{{msg}}",
    })
    {% endif %}
  </script>
</body>

</html>